{% extends 'base.html' %}
{% load staticfiles %}
{# ---标题、关键词、描述--- #}
{% block title_description %}
<title>{{ SITE_NAME }}</title>
<meta name="keywords" content="技术,知识,学习,成长" />
<meta name="description" content="{{ SITE_DESC }}" />
{% endblock %}
{# ---/标题、关键词、描述--- #}
{% block left_content %}
    {% include 'ad.html' %}
    <div class="topnews">
      <h2>最新文章</h2>
      {% for article in article_list %}
      <div class="blogs">
        <ul>
          <h3><a href="/blog/{{ article.show_number }}">{{ article.title }}</a></h3>
          <p>{{ article.desc }}</p>
          <p class="autor">
              <span class="postmeta_category" style="float:left;">
                  <a href="/category/{{ article.category.id }}">{{ article.category.name }}</a>&nbsp;
              </span>
              <span class="lm f_l">
                  {% for tag in article.tag.all %}
                  <a href="/tag/{{ tag.id }}">{{ tag.name }}</a>&nbsp;
                  {% endfor %}
              </span>
              <span class="dtime f_l">{{ article.date_publish | date:'Y-m-d' }}</span>
              <span class="viewnum f_r"><a href="/blog/{{ article.show_number }}">阅读全文</a></span>
              {# <span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span> #}
              {# <span class="pingl f_r">评论（<a href="/">{{ article.comment_set.all.count }}</a>）</span> #}
          </p>
        </ul>
      </div>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}